@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    /*Me permite deslizar cuando hago clic en los links del menu*/
    scroll-behavior: smooth;
}
/*MENU*/
.contenedor-header{
    background: #272727;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
/*Nombre Gaspar Scienza*/
.contenedor-header header .logo a{
    font-weight: 800;
    font-size: 36px;
    color: #ff82047a;
    text-decoration: none;
}
/*Botones inicio, sobre mi curriculum*/
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #ffffff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
} 
.contenedor-header header nav ul li a:hover{
    color: #ff82047a;
}

.nav-responsive{
    background-color: #ff82047a;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/*Inicio*/
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(img/fondo.jpeg);
    background-size: cover;
    height: 100vh;
    color: #ffffff;
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenido-banner img{
    margin-top: 40px;
    border: 5px solid #ff82047a;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 40px;
}
.inicio .contenido-banner h3{
    color: #ff82047a;
}
.inicio .contenido-banner .redes a{
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 25px;
    transition: .3s;
}
/*Color de botones de redes*/
.inicio .contenido-banner .redes a:hover{
    background-color: #ff82047a;
}
/*Sobre Mi*/
.sobremi{
    background-color: #1e2326;
    color: #ffffff;
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2 {
   font-size: 48px; 
   text-align: center;
   padding: 20px 0;
}
.sobremi h3{
    font-size: 35px; 
   text-align: center;
   padding: 20px 0;
}
.sobremi .contenido-seccion p{
    font: 18px;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 100px;
}
.sobremi .contenido-seccion p span{
    color: #ff82047a;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .titulo{
    text-align: center;
}
.sobremi .fila .col{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 28px;
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #ff82047a;
    width: 130px;
    font-size: 20px;
}
.sobremi .fila .col ul li span{
    background-color: #ff82047a;
    padding: 3px;
    font-weight: bold;
}
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #ffffff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #ffffff;
    position: relative;
    z-index: 10;
}
.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ff82047a;
    z-index: -1;
    transition: 1s;
}
.sobremi button:hover .overlay{
    width: 100%;
}

/*seccion Proyectos*/
.portafolio{
    background-color: #252a2e;
    color: #ffffff;
    padding: 50px 20px;
}
.portafolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.portafolio h2{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
}
.portafolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portafolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portafolio .galeria .proyecto img{
    width: 100%;
    display: block;
}
.portafolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(219, 134, 55, 0.8), rgba(219, 134, 55, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.portafolio .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.portafolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.portafolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}


